.contacts {
  border-top: 80px solid #fff;
	margin-top: -80px;
  padding: 80px 20px;
  &__sup-title {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3em;
    color: #514F4F;
    text-align: center;
    margin-bottom: 20px;
  }
  &__title {
    font-size: 21px;
    font-weight: 700;
    line-height: 1.3em;
    letter-spacing: 1px;
    color: #232020;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 70px;
    &--red {
      color: #ef4242;
    }
  }
  &__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6em;
    color: #514f4f;
    letter-spacing: -0.2px;
    margin-bottom: 30px;
  }

}

@media (min-width: $tablet-width) {
  .contacts {
    border-top: 70px solid #fff;
    margin-top: -70px;
    &__sup-title {
      font-size: 24px;
    }
    &__title {
      font-size: 24px;
    }
    &__description {
      width: 57.94%;
    }
    &__contact {
      width: 42.01%;
    }
    &__container {
      display: flex;
      align-items: center;
    }
    &__text {
      font-size: 16px;
      margin-bottom: 50px;
    }
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    border-top: 56px solid #fff;
    margin-top: -56px;
    &__description {
      width: 62.94%;
      margin-right: 10px;
    }
    &__contact {
      width: 37.01%;
    }
    &__wrapper {
      max-width: 1140px;
      margin: 0 auto;
    }
  }
}
