.examples {
  &__wrapper {
    padding: 50px 10px;
  }
  &__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 23.4px;
    text-align: center;
    margin-bottom: 20px;
    &--red {
      color: #EF4242;
    }
  }
  &__item-wrapper {
    position: relative;
    height: 275px;
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: 50%;
    width: 100%;
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 275px;
      background-color: rgba(#202020, 0.64);
      display: block;
    }
    &--1 {
      background-image: url("../img/example-1.jpg");
    }
    &--2 {
      background-image: url("../img/example-2.webp");
    }
    &--3 {
      background-image: url("../img/example-3.webp");
    }
    &--4 {
      background-image: url("../img/example-4.jpg");
    }
    &--5 {
      background-image: url("../img/example-5.webp");
    }
    &--6 {
      background-image: url("../img/example-6.jpg");
    }
    &--7 {
      background-image: url("../img/example-7.webp");
    }
    &--8 {
      background-image: url("../img/example-8.jpg");
    }
    &--9 {
      background-image: url("../img/example-9.webp");
    }
    &--10 {
      background-image: url("../img/example-10.webp");
    }
    &--11 {
      background-image: url("../img/example-11.webp");
    }
    &--12 {
      background-image: url("../img/example-12.jpg");
    }
  }
  &__item {
    margin-bottom: 8px;
    padding: 8px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__text {
    position: relative;
    font-size: 16px;
    font-weight: 700;
    line-height: 20.8px;
    color: #fff;
    z-index: 2;
    padding: 0 35px;
    margin: 0 auto;
    text-align: center;
  }
}

@media (min-width: $tablet-width) {
  .examples {
    &__container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    &__item {
      width: 50%;
      margin-bottom: 0;
    }
    &__title {
      font-size: 28px;
      line-height: 36.4px;
    }
  }
}

@media (min-width: $desktop-width) {
  .examples {
    &__wrapper {
      max-width: 1140px;
      margin: 0 auto;
    }
    &__item {
      width: 33.33%;
    }
    &__title {
      font-size: 38px;
      line-height: 49.4px;
    }
  }
}
