.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 7;
  min-width: 310px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  &__wrapper {
    display: flex;
    position: relative;
    padding: 10px 0;
  }
  &__logo-wrapper {
    width: 56%;
    padding-left: 10px;
  }
  &__contacts {
    width: 44%;
    padding-right: 10px;
  }
  &__contacts-wrapper {
    width: 66%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    grid-gap: 6px;
  }
  &__description {
    font-size: 11px;
    letter-spacing: 0.4px;
    font-weight: 400;
    line-height: 1.3em;
    &--desktop {
      display: none;
    }
  }
  &__logo img {
   max-width: 280px;
  }
  &__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    width: 34px;
    height: 34px;
    padding: 5px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    &:hover {
      .header__burger,
      .header__burger::after,
      .header__burger::before{
        background-color: #fff;
      }
    }
  }
  &__burger,
  &__burger::after,
  &__burger::before{
    display: block;
    height: 3px;
    width: 24px;
    border-radius: 3px;
    background-color: #000;
  }
  &__burger::before {
    content: "";
    position: absolute;
    top: 10.5px;
  }
  &__burger::after {
    content: "";
    position: absolute;
    bottom: 10.5px;
  }
  &--opened {
    .header__burger {
      width: 0;
      &::after {
        bottom: 15.5px;
        transform: rotate(45deg);
      }
      &::before {
        top: 15.5px;
        transform: rotate(-45deg);
      }
    }
  }
  &__container {
    background-color: #fff;
  }
}

@media (min-width: $tablet-width) {
  .header {
    position: static;
    padding-top: 70px;
    box-shadow: none;
    &__button {
      display: none;
    }
    &__container {
      background-color: #000;
    }
    &__wrapper {
      justify-content: space-between;
      align-items: center;
    }
    &__description {
      display: none;
    }
    &__logo-wrapper {
      max-width: 280px;
      padding-top: 10px;
    }
    &__contacts {
      width: 56%;
    }
    &__contacts-wrapper {
      width: 100%;
      justify-content: space-between;
    }
  }
}

@media (min-width: $desktop-width) {
  .header {
    padding-top: 56px;
    &__wrapper {
      max-width: 1140px;
      margin: 0 auto;
      z-index: 4;
    }
    &__description {
      display: inline;
      color: #fff;
      max-width: 242px;
      font-size: 14px;
      font-weight: 400;
      line-height: 18.2px;
      letter-spacing: 0;
      &--desktop {
        display: inline;
      }
    }
    &__logo {
      min-width: 280px;
      margin-right: 10px;
    }
    &__logo-wrapper {
      display: flex;
      justify-content: space-between;
      width: 50%;
      max-width: none;
    }
    &__contacts {
      width: 50%;
    }
    &__contacts-wrapper {
      justify-content: flex-end;
    }
  }
}
