.modal {
  &__title {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.3em;
    margin-bottom: 20px;
  }
  &__warning {
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    margin-bottom: 20px;
  }
  &__subtitle {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.3em;
    text-align: center;
  }
}
.callback--architect .modal {
  &__warning {
    font-size: 1.4em;
    font-weight: 700;
    line-height: 1;
    color: #fff;
  }
  &__title {
    color: #fff;
    margin-bottom: 30px;
  }
  &__subtitle {
    color: #fff;
  }
}
.catalog__callback .modal {
  &__warning {
    line-height: 1.3em;
    text-transform: uppercase;
  }
}
.modal-cb .modal {
  text-align: center;
  &__warning {
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 700;
    line-height: 1.3em;
    color: #202020;
    margin-bottom: 10px;
  }
  &__title {
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 400;
    line-height: 1.3em;
    color: #666;
    margin-bottom: 10px;
  }
  &__manager {
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 400;
    line-height: 1.3em;
    color: #7a7a7a;
    margin-bottom: 10px;
    &--big {
      font-size: 18px;
    }
  }
  &__phone {
    font-family: "Open Sans";
    font-size: 28px;
    font-weight: 700;
    line-height: 1.5;
    color: #202020;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
    &::before {
      display: block;
      content: "";
      width: 24px;
      height: 24px;
      background-image: url("../img/icon-phone--desktop.svg");
      background-size: contain;
      margin-right: 10px;
    }
  }
}
@media (min-width: $tablet-width) {
  .modal {
    &__title {
      font-size: 18px;
      line-height: 23.4px;
    }
    &__warning {
      font-size: 1.5em;
      line-height: 1;
    }
  }
  .master__callback .modal__title {
    font-size: 14px;
    line-height: 1.3em;
  }
  .callback--architect .modal__title {
    font-size: 14px;
    margin-bottom: 20px;
  }
  .catalog__callback .modal {
    &__warning {
      font-size: 18px;
    }
    &__title {
      font-size: 14px;
      font-family: "Roboto";
    }
  }
  .modal-cb .modal {
    &__manager {
      font-size: 12px;
    }
  }
}

@media (min-width: $desktop-width) {
  .modal {
    &__form {
      display: block;
      & div,
      & button {
        width: 100%;
      }
      & .form__field {
        margin-bottom: 10px;
      }
    }
    &__title {
      font-size: 21px;
      line-height: 27.3px;
    }
  }
  .master__callback .modal__title {
    font-size: 16px;
  }
  .catalog__callback .modal {
    &__warning {
      font-size: 24px;
    }
    &__title {
      font-size: 16px;
      line-height: 1.3em;
    }
  }
}
