.navigation {
  position: absolute;
  width: 100%;
  transform: scaleY(0);
  transform-origin: top;
  border-top: 1px solid #EF4242;
  overflow: hidden;
  transition: 0.3s all;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
  &__item {
    padding: 10px 20px;
    display: inline-block;
    width: 100%;
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    color: #000;
    &:hover {
      background-color: #EF4242;
      color: #fff;
    }
  }
}

.header--opened .navigation {
  transform: scale(1);
  position: relative;
}

@keyframes show-menu {
  from {
    display: none;
    transform: scaleY(0);
  }
  to {
    display: block;
    transform: scale(1);
  }
}
@keyframes hide-menu {
  0% {
    display: block;
    transform: scaleY(1);
  }
  99% {
    transform: scale(0);
  }
  100% {
    display: none;
  }
}
@media (min-width: $tablet-width) {
  .navigation {
    transform: scaleY(1);
    position: fixed;
    border: 0;
    top: 0;
    width: 100%;
    box-shadow: none;
    z-index: 7;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
    &__item {
      padding: 25px 20px;
      font-size: 12px;
      letter-spacing: 1.5px;
      transition: 0.3s transform;
      &:hover {
        color:#EF4242;
        background-color: #fff;
        transform: scale(1.2);
      }
    }
    &__list {
      display: flex;
      justify-content: space-evenly;
    }
  }
}

@media (min-width: $desktop-width) {
  .navigation {
    &__item {
      font-size: 14px;
      padding: 18px 22px;
    }
    &__list {
      max-width: 1140px;
      margin: 0 auto;
    }
  }
}
