.popup {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 310px;
  width: 100vw;
  height: 500vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 99;
  &__content-wrapper {
    position: relative;
    width: 100%;
    transition: all 0.5s;
    height: 100%;
    &--scale {
      transform: scale(1.2);
    }
  }
  &__content {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    & img {
      position: absolute;
      object-fit: contain;
      height: 100%;
      transition: all 0.5s;
      transform: translateX(0) scale(1);
    }
    & .img--scale {
      transform: scale(1.2);
    }
    & .img-prev {
      transform: translateX(-150vw) scale(2);
    }
    & .img-next {
      transform: translateX(150vw) scale(2);
    }

  }
  &__control {
    width: 45px;
    height: 45px;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    z-index: 129;
    padding: 10px;
    background-size: 25px;
    background-position: center;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.6);
    &--right {
      right: 0;
      background-image: url("../img/popup-right.svg");
    }
    &--left {
      left: 0;
      background-image: url("../img/popup-left.svg");
    }
  }
  &__counter {
    position: fixed;
    top: 13px;
    left: 13px;
    z-index: 129;
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    color: rgba(238, 238, 238, 0.9);
  }
  &__title {
    position: fixed;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    color: rgba(238, 238, 238, 0.9);
  }
  &__btn {
    position: fixed;
    top: 13px;
    right: 13px;
    width: 20px;
    height: 20px;
    z-index: 129;
    background-color: transparent;
    border: none;
    &::after,
    &::before {
      content: "";
      position: absolute;
      top: 10px;
      left: 0;
      height: 2px;
      width: 20px;
      margin: 0 auto;
      background-color: rgba(238, 238, 238, 0.9);
      border-radius: 2px;
    }
    &::before {
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }
  }
}
