.telegram {
  height: 35px;
  &__text {
    display: none;
  }
  &__link {
    background-color: #2ca5e0;
    background-image: url("../img/icon-telegram.svg");
    &:hover {
      opacity: 0.9;
    }
  }
}

@media (min-width: $tablet-width) {
  .telegram {
    display: flex;
    &__text {
      display: block;
      font-size: 14px;
      font-weight: 400;
      line-height: 18.2px;
      color: #fff;
      text-align: right;
      height: 35px;
      margin-right: 10px;
    }
  }
}

@media (min-width: $desktop-width) {
  .telegram {
    margin: 0 auto;
  }
}
