@font-face {
  font-family: "Manrope";
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/Manrope-Light.woff2"); }

@font-face {
  font-family: "Manrope";
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Manrope-Regular.woff2"); }

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff2"); }

@font-face {
  font-family: "Stolzl";
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/Stolzl-Bold.woff2"); }

@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/OpenSans-Bold.woff"); }

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  background-repeat: no-repeat;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  font-style: normal; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

img {
  width: 100%;
  height: auto; }

body {
  min-width: 310px; }

button {
  cursor: pointer; }

.icon {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-size: 22px;
  background-position: center;
  border-radius: 4px; }

html {
  scroll-behavior: smooth; }

.hide {
  display: none; }

section {
  min-width: 310px; }

.visually-hidden {
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  border: none;
  position: absolute;
  clip: rect(0, 0, 0, 0); }

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    transform: none; } }

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    transform: none; } }

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0); }
  to {
    opacity: 1;
    transform: none; } }

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0); }
  to {
    opacity: 1;
    transform: none; } }

@-webkit-keyframes upScale {
  from {
    opacity: 0;
    transform: scale3d(0, 0, 0); }
  to {
    opacity: 1;
    transform: scale3d(1, 1, 1); } }

@keyframes upScale {
  from {
    opacity: 0;
    transform: scale3d(0, 0, 0); }
  to {
    opacity: 1;
    transform: scale3d(1, 1, 1); } }

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0); }
  to {
    opacity: 1;
    transform: none; } }

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0); }
  to {
    opacity: 1;
    transform: none; } }

.upScale {
  -webkit-animation-name: upScale;
          animation-name: upScale;
  -webkit-animation-duration: 1s;
          animation-duration: 1s; }

.fadeInUp {
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
  -webkit-animation-duration: 1s;
          animation-duration: 1s; }

.fadeInRight {
  -webkit-animation-name: fadeInRight;
          animation-name: fadeInRight;
  -webkit-animation-duration: 1s;
          animation-duration: 1s; }

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
          animation-name: fadeInLeft;
  -webkit-animation-duration: 1s;
          animation-duration: 1s; }

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 7;
  min-width: 310px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2); }
  .header__wrapper {
    display: flex;
    position: relative;
    align-items: center;
    padding: 10px 0;
    height: 80px; }
  .header__logo-wrapper {
    width: 56%;
    padding-left: 10px; }
  .header__contacts {
    width: 44%;
    padding-right: 10px; }
  .header__logo {
    display: inline-block; }
  .header__contacts-wrapper {
    width: 66%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    grid-gap: 6px; }
  .header__description {
    font-size: 11px;
    letter-spacing: 0.4px;
    font-weight: 400;
    line-height: 1.3em; }
    .header__description--desktop {
      display: none; }
  .header__logo img {
    max-width: 280px; }
  .header__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    width: 34px;
    height: 34px;
    padding: 5px;
    border: none;
    cursor: pointer;
    border-radius: 4px; }
    .header__button:hover .header__burger,
    .header__button:hover .header__burger::after,
    .header__button:hover .header__burger::before {
      background-color: #fff; }
  .header__burger, .header__burger::after, .header__burger::before {
    display: block;
    height: 3px;
    width: 24px;
    border-radius: 3px;
    background-color: #000; }
  .header__burger::before {
    content: "";
    position: absolute;
    top: 10.5px; }
  .header__burger::after {
    content: "";
    position: absolute;
    bottom: 10.5px; }
  .header--opened .header__burger {
    width: 0; }
    .header--opened .header__burger::after {
      bottom: 15.5px;
      transform: rotate(45deg); }
    .header--opened .header__burger::before {
      top: 15.5px;
      transform: rotate(-45deg); }
  .header__container {
    background-color: #fff; }

@media (min-width: 770px) {
  .header {
    position: static;
    padding-top: 70px;
    box-shadow: none; }
    .header__button {
      display: none; }
    .header__container {
      background-color: #000; }
    .header__wrapper {
      justify-content: space-between;
      align-items: center;
      height: auto; }
    .header__description {
      display: none; }
    .header__logo-wrapper {
      max-width: 280px;
      padding-top: 10px; }
    .header__contacts {
      width: 56%; }
    .header__contacts-wrapper {
      width: 100%;
      justify-content: space-between; } }

@media (min-width: 1024px) {
  .header {
    padding-top: 56px; }
    .header__wrapper {
      max-width: 1140px;
      margin: 0 auto;
      z-index: 4; }
    .header__description {
      display: inline;
      color: #fff;
      max-width: 242px;
      font-size: 14px;
      font-weight: 400;
      line-height: 18.2px;
      letter-spacing: 0; }
      .header__description--desktop {
        display: inline; }
    .header__logo {
      min-width: 280px;
      margin-right: 10px; }
    .header__logo-wrapper {
      display: flex;
      justify-content: space-between;
      width: 50%;
      max-width: none; }
    .header__contacts {
      width: 50%; }
    .header__contacts-wrapper {
      justify-content: flex-end; } }

.telegram {
  height: 35px; }
  .telegram__text {
    display: none; }
  .telegram__link {
    background-color: #2ca5e0;
    background-image: url("../img/icon-telegram.svg"); }
    .telegram__link:hover {
      opacity: 0.9; }

@media (min-width: 770px) {
  .telegram {
    display: flex; }
    .telegram__text {
      display: block;
      font-size: 14px;
      font-weight: 400;
      line-height: 18.2px;
      color: #fff;
      text-align: right;
      height: 35px;
      margin-right: 10px; } }

@media (min-width: 1024px) {
  .telegram {
    margin: 0 auto; } }

.phone {
  height: 35px; }
  .phone__warning, .phone__link--desktop, .phone__button {
    display: none; }
  .phone__link {
    background-color: #ef4242;
    background-image: url("../img/icon-phone.svg"); }

@-webkit-keyframes change-opacity {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes change-opacity {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@media (min-width: 770px) {
  .phone {
    height: 100%; }
    .phone__button {
      display: block !important;
      width: 100%;
      cursor: pointer;
      font-size: 14px;
      line-height: 21px;
      font-weight: 400;
      color: #fff;
      background-color: transparent;
      border: none;
      text-align: right; }
      .phone__button:hover {
        color: #ef4242; }
    .phone__link {
      width: auto;
      background-size: 21px;
      background-position: 0 4px;
      background-color: transparent;
      padding-left: 31px;
      background-image: url("../img/icon-phone--desktop.svg"); }
    .phone__link--desktop {
      display: block;
      font-size: 21px;
      font-weight: 700;
      line-height: 31.5px;
      color: #fff; }
    .phone__warning {
      display: flex;
      align-items: center;
      font-size: 12px;
      font-weight: 700;
      line-height: 18px;
      color: #61CE70;
      justify-content: right;
      width: 100%;
      opacity: 1;
      -webkit-animation: change-opacity 2s infinite ease;
              animation: change-opacity 2s infinite ease; }
      .phone__warning::before {
        content: "";
        display: block;
        width: 6px;
        height: 6px;
        margin-right: 6px;
        border: 3px solid #61CE70;
        border-radius: 3px; } }

.navigation {
  position: absolute;
  width: 100%;
  transform: scaleY(0);
  transform-origin: top;
  border-top: 1px solid #EF4242;
  overflow: hidden;
  transition: 0.3s transform;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff; }
  .navigation__item {
    padding: 10px 20px;
    display: inline-block;
    width: 100%;
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    color: #000; }
    .navigation__item:hover {
      background-color: #EF4242;
      color: #fff; }

.header--opened .navigation {
  transform: scaleY(1);
  position: relative; }

@media (min-width: 770px) {
  .navigation {
    transform: scaleY(1);
    position: fixed;
    border: 0;
    top: 0;
    width: 100vw;
    z-index: 7;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15); }
    .navigation__item {
      padding: 25px 20px;
      font-size: 12px;
      letter-spacing: 1.5px;
      transition: 0.3s transform; }
      .navigation__item:hover {
        color: #EF4242;
        background-color: #fff;
        transform: scale(1.2); }
    .navigation__list {
      display: flex;
      justify-content: space-evenly; } }

@media (min-width: 1024px) {
  .navigation__item {
    font-size: 14px;
    padding: 18px 22px; }
  .navigation__list {
    max-width: 1140px;
    margin: 0 auto; } }

.intro {
  background-color: #000;
  color: #fff; }
  .intro__container {
    padding: 0 5px;
    overflow: hidden; }
  .intro__title {
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 4px;
    line-height: 33.6px;
    font-style: normal;
    text-transform: uppercase;
    margin-bottom: 16px; }
    .intro__title b {
      color: #ef4242;
      font-weight: 600;
      letter-spacing: -1px; }
  .intro__img {
    padding: 0 10px;
    margin-bottom: 14px; }
  .intro__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 18.2px;
    text-align: center;
    margin-bottom: 14px; }
  .intro__description {
    font-size: 14px;
    font-weight: 300;
    line-height: 18.2px;
    text-align: center;
    margin-bottom: 20px; }
  .intro__subtext {
    padding: 0 5px;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 20px;
    font-weight: 400;
    display: flex;
    align-items: center; }
    .intro__subtext::before {
      content: "";
      display: block;
      min-width: 12.2px;
      margin-right: 5px;
      height: 3px;
      background-color: #ea3e3e;
      border-radius: 2px; }
  .intro__form {
    margin-bottom: 15px;
    padding: 0 5px; }

@media (min-width: 770px) {
  .intro {
    background-image: url("../img/bg-main.png");
    background-position: 75% 70%;
    background-repeat: no-repeat;
    background-size: cover; }
    .intro__img {
      display: none; }
    .intro__container {
      padding: 0 10px;
      margin-right: 30%; }
    .intro__text {
      margin-bottom: 20px;
      text-align: left;
      font-size: 15px;
      line-height: 19.5px; }
    .intro__title {
      margin-bottom: 20px;
      font-size: 38px;
      line-height: 45.6px;
      letter-spacing: 8px; }
      .intro__title b {
        letter-spacing: normal; }
    .intro__description {
      font-size: 18px;
      line-height: 23.4px;
      text-align: left; }
    .intro__subtext {
      font-size: 16px;
      padding: 0;
      line-height: 24px;
      letter-spacing: -0.5px; }
      .intro__subtext::before {
        margin-right: 10px; }
    .intro__form {
      padding: 0; } }

@media (min-width: 1024px) {
  .intro {
    background-image: none;
    position: relative;
    min-height: 64vh; }
    .intro::after {
      content: "";
      width: 100%;
      height: 640px;
      position: absolute;
      bottom: 0;
      right: 0;
      background-image: url("../img/bg-main.png");
      background-position: bottom right;
      background-size: cover; }
    .intro__wrapper {
      position: relative;
      z-index: 4;
      max-width: 1140px;
      margin: 0 auto;
      padding-top: 6vh; }
    .intro__description {
      font-size: 28px;
      line-height: 36.4px; }
    .intro__title {
      font-size: 43.3px;
      line-height: 51.96px; }
    .intro__text {
      font-size: 21px;
      line-height: 27.3px; } }

.cd-words-wrapper {
  display: inline-block;
  position: relative;
  text-align: left; }

.cd-words-wrapper b {
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  left: 0;
  top: 0; }

.cd-words-wrapper b.is-visible {
  position: relative; }

/* --------------------------------

xrotate-2

-------------------------------- */
.cd-headline.rotate-2 .cd-words-wrapper {
  perspective: 300px; }

.cd-headline.rotate-2 i, .cd-headline.rotate-2 em {
  display: inline-block;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.cd-headline.rotate-2 b {
  opacity: 0; }

.cd-headline.rotate-2 i {
  transform-style: preserve-3d;
  transform: translateZ(-20px) rotateX(90deg);
  opacity: 0; }

.is-visible .cd-headline.rotate-2 i {
  opacity: 1; }

.cd-headline.rotate-2 i.in {
  -webkit-animation: cd-rotate-2-in 0.4s forwards;
  animation: cd-rotate-2-in 0.4s forwards; }

.cd-headline.rotate-2 i.out {
  -webkit-animation: cd-rotate-2-out 0.4s forwards;
  animation: cd-rotate-2-out 0.4s forwards; }

.cd-headline.rotate-2 em {
  transform: translateZ(20px); }

.no-csstransitions .cd-headline.rotate-2 i {
  transform: rotateX(0deg);
  opacity: 0; }

.no-csstransitions .cd-headline.rotate-2 i em {
  transform: scale(1); }

.no-csstransitions .cd-headline.rotate-2 .is-visible i {
  opacity: 1; }

@-webkit-keyframes cd-rotate-2-in {
  0% {
    opacity: 0;
    -webkit-transform: translateZ(-20px) rotateX(90deg); }
  60% {
    opacity: 1;
    -webkit-transform: translateZ(-20px) rotateX(-10deg); }
  100% {
    opacity: 1;
    -webkit-transform: translateZ(-20px) rotateX(0deg); } }

@keyframes cd-rotate-2-in {
  0% {
    opacity: 0;
    transform: translateZ(-20px) rotateX(90deg); }
  60% {
    opacity: 1;
    transform: translateZ(-20px) rotateX(-10deg); }
  100% {
    opacity: 1;
    transform: translateZ(-20px) rotateX(0deg); } }

@-webkit-keyframes cd-rotate-2-out {
  0% {
    opacity: 1;
    -webkit-transform: translateZ(-20px) rotateX(0); }
  60% {
    opacity: 0;
    -webkit-transform: translateZ(-20px) rotateX(-100deg); }
  100% {
    opacity: 0;
    -webkit-transform: translateZ(-20px) rotateX(-90deg); } }

@keyframes cd-rotate-2-out {
  0% {
    opacity: 1;
    transform: translateZ(-20px) rotateX(0); }
  60% {
    opacity: 0;
    transform: translateZ(-20px) rotateX(-100deg); }
  100% {
    opacity: 0;
    transform: translateZ(-20px) rotateX(-90deg); } }

.form__submit {
  width: 100%;
  min-height: 59px;
  color: #fff;
  background-color: #ef4242;
  font-size: 15px;
  font-weight: 700;
  line-height: 15px;
  text-align: center;
  border: none;
  border-bottom: 3px solid #B12B2B;
  border-radius: 5px; }
  .form__submit--types {
    min-height: 41px; }
    .form__submit--types:hover {
      background-color: #B12B2B; }

.form__input {
  width: 100%;
  padding: 7px 20px;
  min-height: 59px;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  border-radius: 5px;
  border: 1px solid #818a91;
  color: #707070; }

.form__field {
  margin-bottom: 15px; }

.form__submit-bg::before {
  display: block;
  content: "";
  width: 13px;
  height: 14px;
  background-image: url("../img/icon-catalog.svg");
  background-size: 13px 14px;
  margin-right: 5px; }

.callback--master .form__input,
.callback--architect .form__input {
  min-height: 47px;
  padding: 6px 16px; }

.callback--architect .form {
  margin-bottom: 20px; }

.callback--architect .form__submit {
  min-height: 47px; }

.catalog__callback .form__input {
  min-height: 47px;
  padding: 6px 16px; }

.catalog__callback .form__submit {
  display: flex;
  align-items: center;
  justify-content: center; }

.catalog__callback .form label {
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  color: #707070;
  width: 100%;
  display: inline-block;
  text-align: left;
  margin-bottom: 10px; }

.modal-cb .form__input {
  min-height: 47px; }

.modal-cb .form__field {
  margin-bottom: 10px; }

.modal-cb .form__submit {
  margin-bottom: 10px; }

.thanks .form__submit {
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
  width: 100%;
  display: inline-block; }
  .thanks .form__submit--whatsapp {
    padding: 12px 24px;
    min-height: 44px;
    margin-bottom: 70px;
    width: 50%;
    display: block;
    background-image: url("../img/icon-whatsApp.svg");
    background-size: 14px 16px;
    background-position: 24px center; }
  .thanks .form__submit--return {
    padding: 15px 30px;
    min-height: 49px; }

@media (min-width: 770px) {
  .form__input {
    font-size: 16px;
    line-height: 22.4px; }
    .form__input--small {
      padding: 6px 16px;
      min-height: 47px; }
  .form__submit--small {
    min-height: 47px; }
  .form__submit--types {
    display: block;
    padding: 0 24px;
    width: auto;
    margin: 0 auto; }
  .callback--architect .form {
    display: flex;
    margin-bottom: 15px; }
    .callback--architect .form__field {
      width: 40%;
      margin-right: 10px;
      margin-bottom: 0; }
    .callback--architect .form__submit {
      height: 47px;
      font-size: 14px;
      width: 50%; }
  .catalog__callback .form label {
    font-size: 16px; }
  .thanks .form__submit {
    width: 50%; } }

@media (min-width: 1024px) {
  .form {
    display: flex;
    width: 100%; }
    .form__field {
      width: 35%;
      margin-bottom: 0;
      margin-right: 10px; }
    .form__submit {
      width: 40%; }
      .form__submit--types {
        width: auto; }
    .form__submit {
      font-size: 14px;
      line-height: 14px; }
  .catalog__callback .form .form__field {
    margin-bottom: 15px; } }

.examples__wrapper {
  padding: 50px 10px; }

.examples__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  text-align: center;
  margin-bottom: 20px; }
  .examples__title--red {
    color: #EF4242; }

.examples__item-wrapper {
  position: relative;
  height: 275px;
  display: flex;
  align-items: center;
  background-size: cover;
  background-position: 50%;
  width: 100%; }
  .examples__item-wrapper::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 275px;
    background-color: rgba(32, 32, 32, 0.64);
    display: block; }
  .examples__item-wrapper--1 {
    background-image: url("../img/example-1.jpg"); }
  .examples__item-wrapper--2 {
    background-image: url("../img/example-2.webp"); }
  .examples__item-wrapper--3 {
    background-image: url("../img/example-3.webp"); }
  .examples__item-wrapper--4 {
    background-image: url("../img/example-4.jpg"); }
  .examples__item-wrapper--5 {
    background-image: url("../img/example-5.webp"); }
  .examples__item-wrapper--6 {
    background-image: url("../img/example-6.jpg"); }
  .examples__item-wrapper--7 {
    background-image: url("../img/example-7.webp"); }
  .examples__item-wrapper--8 {
    background-image: url("../img/example-8.jpg"); }
  .examples__item-wrapper--9 {
    background-image: url("../img/example-9.webp"); }
  .examples__item-wrapper--10 {
    background-image: url("../img/example-10.webp"); }
  .examples__item-wrapper--11 {
    background-image: url("../img/example-11.webp"); }
  .examples__item-wrapper--12 {
    background-image: url("../img/example-12.jpg"); }

.examples__item {
  margin-bottom: 8px;
  padding: 8px; }
  .examples__item:last-child {
    margin-bottom: 0; }

.examples__text {
  position: relative;
  font-size: 16px;
  font-weight: 700;
  line-height: 20.8px;
  color: #fff;
  z-index: 2;
  padding: 0 35px;
  margin: 0 auto;
  text-align: center; }

@media (min-width: 770px) {
  .examples__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  .examples__item {
    width: 50%;
    margin-bottom: 0; }
  .examples__title {
    font-size: 28px;
    line-height: 36.4px; } }

@media (min-width: 1024px) {
  .examples__wrapper {
    max-width: 1140px;
    margin: 0 auto; }
  .examples__item {
    width: 33.33%; }
  .examples__title {
    font-size: 38px;
    line-height: 49.4px; } }

.services {
  background-color: #232020;
  border-top: 80px solid #fff;
  margin-top: -80px; }
  .services__wrapper {
    padding: 30px 23px 30px 23px; }
  .services__text {
    padding-left: 3%;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
    color: #E8E8E8;
    margin-bottom: 20px; }
    .services__text--big {
      font-size: 18px;
      line-height: 23.4px; }
    .services__text:last-child {
      margin-bottom: 0; }
  .services__title {
    padding-left: 3%;
    font-size: 18px;
    font-weight: 700;
    line-height: 23.4px;
    color: #fff;
    margin-bottom: 20px; }
    .services__title--red {
      color: #EF4242; }
  .services__description {
    margin-bottom: 25px; }

@media (min-width: 770px) {
  .services {
    border-top: 70px solid #fff;
    margin-top: -70px; }
    .services__wrapper {
      padding: 50px 20px;
      display: flex;
      align-items: center; }
    .services__text {
      font-size: 18px;
      line-height: 23.4px; }
      .services__text--big {
        font-size: 16px;
        line-height: 20.8px; }
    .services__title {
      font-size: 26px;
      line-height: 33.8px; }
    .services__description {
      margin-bottom: 0;
      max-width: 49%;
      padding-right: 8px;
      margin-right: 20px;
      padding-top: 10px; }
    .services__callback {
      max-width: 50%; } }

@media (min-width: 1024px) {
  .services {
    border-top: 56px solid #fff;
    margin-top: -56px;
    padding: 50px 0; }
    .services__wrapper {
      padding: 0 25px;
      max-width: 1140px;
      margin: 0 auto; } }

.callback {
  padding: 15px;
  background-color: #fff;
  border-radius: 15px; }
  .callback__wrapper {
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px;
    background-color: #fff; }
  .callback--master {
    text-align: center; }
    .callback--master .form__submit {
      text-transform: uppercase; }
    .callback--master .callback__wrapper {
      padding: 20px; }
  .callback--architect {
    background-color: transparent;
    padding: 0; }

@media (min-width: 770px) {
  .callback {
    border-radius: 5px; }
    .callback__wrapper {
      padding: 15px; } }

@media (min-width: 1024px) {
  .callback__wrapper {
    padding-left: 170px;
    min-height: 232px;
    background-image: url("../img/callback-bg.png");
    background-position: 4% 100%;
    background-size: 166px 225px; }
  .master__callback .callback__wrapper {
    background-image: none; } }

.modal__title {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3em;
  margin-bottom: 20px; }

.modal__warning {
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  margin-bottom: 20px; }

.modal__subtitle {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.3em;
  text-align: center; }

.callback--architect .modal__warning {
  font-size: 1.4em;
  font-weight: 700;
  line-height: 1;
  color: #fff; }

.callback--architect .modal__title {
  color: #fff;
  margin-bottom: 30px; }

.callback--architect .modal__subtitle {
  color: #fff; }

.catalog__callback .modal__warning {
  line-height: 1.3em;
  text-transform: uppercase; }

.modal-cb .modal {
  text-align: center; }
  .modal-cb .modal__warning {
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 700;
    line-height: 1.3em;
    color: #202020;
    margin-bottom: 10px; }
  .modal-cb .modal__title {
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 400;
    line-height: 1.3em;
    color: #666;
    margin-bottom: 10px; }
  .modal-cb .modal__manager {
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 400;
    line-height: 1.3em;
    color: #7a7a7a;
    margin-bottom: 10px; }
    .modal-cb .modal__manager--big {
      font-size: 18px; }
  .modal-cb .modal__phone {
    font-family: "Open Sans";
    font-size: 28px;
    font-weight: 700;
    line-height: 1.5;
    color: #202020;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 15px; }
    .modal-cb .modal__phone::before {
      display: block;
      content: "";
      width: 24px;
      height: 24px;
      background-image: url("../img/icon-phone--desktop.svg");
      background-size: contain;
      margin-right: 10px; }

@media (min-width: 770px) {
  .modal__title {
    font-size: 18px;
    line-height: 23.4px; }
  .modal__warning {
    font-size: 1.5em;
    line-height: 1; }
  .master__callback .modal__title {
    font-size: 14px;
    line-height: 1.3em; }
  .callback--architect .modal__title {
    font-size: 14px;
    margin-bottom: 20px; }
  .catalog__callback .modal__warning {
    font-size: 18px; }
  .catalog__callback .modal__title {
    font-size: 14px;
    font-family: "Roboto"; }
  .modal-cb .modal__manager {
    font-size: 12px; } }

@media (min-width: 1024px) {
  .modal__form {
    display: block; }
    .modal__form div,
    .modal__form button {
      width: 100%; }
    .modal__form .form__field {
      margin-bottom: 10px; }
  .modal__title {
    font-size: 21px;
    line-height: 27.3px; }
  .master__callback .modal__title {
    font-size: 16px; }
  .catalog__callback .modal__warning {
    font-size: 24px; }
  .catalog__callback .modal__title {
    font-size: 16px;
    line-height: 1.3em; } }

.adjustment {
  position: relative;
  z-index: 2; }
  .adjustment__wrapper {
    padding: 50px 10px 40px 10px; }
    .adjustment__wrapper:last-child {
      padding-top: 0; }
  .adjustment__item {
    padding: 5px;
    background-color: #F7F7F7;
    border: 1px solid #B8B8B8;
    border-radius: 5px;
    margin-bottom: 10px; }
    .adjustment__item:last-child {
      margin-bottom: 0; }
  .adjustment__text {
    margin-right: 15px;
    font-size: 24px;
    font-weight: 700;
    line-height: 32.5px;
    min-width: 297px; }
  .adjustment__text-wrapper {
    padding: 0 18px;
    display: flex;
    align-items: center;
    margin-bottom: 35px; }
    .adjustment__text-wrapper::after {
      content: "";
      height: 1px;
      flex-grow: 1;
      background-color: #2c2c2c; }
  .adjustment__block {
    margin-bottom: 35px; }
    .adjustment__block:last-child {
      margin-bottom: 0; }

@media (min-width: 770px) {
  .adjustment__wrapper {
    padding: 110px 16% 50px 16%;
    padding-left: calc(16% + 50px); }
    .adjustment__wrapper:last-child {
      padding-top: 0; }
  .adjustment__item {
    margin-bottom: 70px; }
  .adjustment__block {
    margin-bottom: 70px; }
  .adjustment__text {
    font-size: 32px;
    line-height: 41.6px;
    margin-right: 50px; }
  .adjustment__text-wrapper {
    margin-bottom: 110px; } }

@media (min-width: 1024px) {
  .adjustment {
    padding: 0 50px; }
    .adjustment__block {
      display: flex; }
    .adjustment__text-wrapper {
      max-width: 1140px;
      margin: 0 auto;
      padding: 0;
      padding-left: 50px;
      margin-bottom: 110px; }
    .adjustment__wrapper {
      padding: 110px 0 50px 50px;
      max-width: 1140px;
      margin: 0 auto; }
      .adjustment__wrapper:last-child {
        padding-top: 0; }
    .adjustment__item {
      margin-right: 50px;
      margin-bottom: 0; }
      .adjustment__item:last-child {
        margin: 0; } }

.adjustment-item {
  text-align: center; }
  .adjustment-item__img {
    max-width: 372px;
    border-radius: 5px;
    margin-bottom: 20px; }
  .adjustment-item__title {
    font-size: 14px;
    font-weight: 600;
    line-height: 18.2px;
    margin-bottom: 16px; }
  .adjustment-item__number {
    display: none; }

@media (min-width: 770px) {
  .adjustment-item {
    position: relative; }
    .adjustment-item__img {
      margin-bottom: 16px; }
    .adjustment-item__number {
      display: block;
      position: absolute;
      top: -75px;
      left: -42px;
      font-family: "Stolzl";
      font-size: 120px;
      font-weight: 600;
      line-height: 120px;
      color: rgba(239, 66, 66, 0.37);
      z-index: -1; }
      .adjustment-item__number--grey {
        color: #E8E8E8; } }

.types {
  border-top: 80px solid #fff;
  margin-top: -80px;
  background-color: #ccc; }
  .types__title {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 23.4px;
    color: #232020;
    margin-bottom: 28px; }
    .types__title--red {
      color: #EF4242; }
  .types__wrapper {
    padding: 60px 18px; }
  .types__container {
    margin-bottom: 48px; }

@media (min-width: 770px) {
  .types {
    border-top: 70px solid #fff;
    margin-top: -70px; }
    .types__title {
      font-size: 28px;
      line-height: 36.4px; }
    .types__container {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 40px; }
    .types__wrapper {
      padding: 60px 9px; } }

@media (min-width: 1024px) {
  .types {
    border-top: 56px solid #fff;
    margin-top: -56px; }
    .types__title {
      font-size: 38px;
      line-height: 49.4px; } }

.type {
  margin-bottom: 28px; }
  .type:last-child {
    margin-bottom: 0; }
  .type__title {
    font-size: 16px;
    font-weight: 700;
    line-height: 20.8px;
    color: #232020;
    text-align: center;
    margin-bottom: 10px; }
  .type__text {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: #514f4f;
    text-align: center; }
  .type__img {
    margin-bottom: 20px; }

@media (min-width: 770px) {
  .type {
    min-width: 338px;
    width: 50%;
    padding: 0 9px; }
    .type__title {
      font-size: 18px;
      line-height: 23.4px; }
    .type__text {
      font-size: 14px;
      line-height: 21px;
      padding: 0 20px; } }

@media (min-width: 1024px) {
  .type {
    width: 33.33%; } }

.master {
  position: relative;
  background-color: #182045; }
  .master__callback {
    background-color: transparent;
    margin-bottom: 35px; }
  .master__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #232020;
    opacity: 0.8; }
  .master__wrapper {
    position: relative;
    padding: 80px 10px;
    z-index: 2; }
  .master__title {
    font-size: 21px;
    font-weight: 700;
    line-height: 1.3em;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 20px; }
    .master__title--red {
      color: #ef4242; }
  .master__head-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3em;
    color: #e8e8e8;
    margin-bottom: 14.5px; }
  .master__warning {
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    color: #ef4242; }
  .master__text {
    font-size: 1.6vw;
    font-weight: 700;
    line-height: 1.3em;
    color: #fff;
    text-align: center;
    margin-bottom: 45px; }

@media (min-width: 770px) {
  .master__description {
    width: 57%; }
  .master__title {
    font-size: 2.5vw;
    line-height: 1.3em;
    text-align: center; }
  .master__head-text {
    font-size: 1.1vw;
    font-weight: 400;
    line-height: 1.3em; }
  .master__warning {
    font-size: 1.4em; }
  .master__callback {
    width: 45%; } }

@media (min-width: 1024px) {
  .master {
    background-image: url("../img/master-bg.jpg");
    background-position: center;
    background-size: cover; }
    .master__header {
      display: flex;
      align-items: center; }
    .master__title {
      text-align: left; }
    .master__warning {
      line-height: 1; }
    .master__text {
      font-size: 1.6vw;
      line-height: 1.3em; }
    .master__wrapper {
      padding-bottom: 60px;
      max-width: 1140px;
      margin: 0 auto; }
    .master__callback {
      margin-bottom: 0; }
    .master__header {
      margin-bottom: 35px; } }

.plan {
  z-index: 2;
  display: flex;
  flex-wrap: wrap; }
  .plan__item {
    width: 33.33%;
    padding: 10px;
    flex-grow: 1; }
    .plan__item::before {
      display: block;
      content: "";
      width: 50px;
      height: 50px;
      background-size: 50px;
      margin: 0 auto;
      margin-bottom: 10px; }
    .plan__item--type::before {
      background-image: url("../img/master--type.svg"); }
    .plan__item--size::before {
      background-image: url("../img/master--size.svg"); }
    .plan__item--around::before {
      background-image: url("../img/master--around.svg"); }
    .plan__item--style::before {
      background-image: url("../img/master--style.svg"); }
    .plan__item--normative::before {
      background-image: url("../img/master--normative.svg"); }
  .plan__text {
    font-size: 12px;
    font-weight: 400;
    line-height: 14.4px;
    color: #fff;
    text-align: center;
    margin-bottom: 15px; }

@media (min-width: 770px) {
  .plan__item {
    width: 20%; }
    .plan__item::before {
      width: 80px;
      height: 80px;
      background-size: 80px; } }

@media (min-width: 1024px) {
  .plan__item::before {
    margin-bottom: 15px; } }

.portfolio {
  padding: 20px 20px 10px 20px;
  border-top: 80px solid #fff;
  margin-top: -80px;
  background-color: #ccc; }
  .portfolio__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.3em;
    text-align: center;
    margin-bottom: 20px;
    color: #232020; }
    .portfolio__title--red {
      color: #ef4242; }
  .portfolio__item {
    position: relative;
    transition: 0.5s all;
    opacity: 1;
    transform: scale3d(1, 1, 1); }
  .portfolio__item--hidden {
    transform: scale3d(0, 0, 0);
    opacity: 0; }
  .portfolio__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3em;
    color: #514f4f;
    margin-bottom: 30px;
    text-align: center; }
  .portfolio__menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px; }
    .portfolio__menu li {
      margin-right: 10px; }
      .portfolio__menu li:last-child {
        margin-right: 0; }
  .portfolio__menu-item {
    padding: 7px 14px;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    color: #232020;
    display: inline-block;
    transition: 0.3s transform; }
    .portfolio__menu-item--active {
      color: #ef4242; }
    .portfolio__menu-item:hover {
      color: #ef4242;
      transform: scale(1.2); }
  .portfolio__container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr); }
  .portfolio__link {
    display: block;
    cursor: pointer;
    padding-bottom: 75%;
    background-size: cover;
    background-position: center;
    border-radius: 5px; }

.portfolio__item--hidden:not(.animated) {
  position: absolute; }

@media (min-width: 770px) {
  .portfolio {
    border-top: 70px solid #fff;
    margin-top: -70px;
    padding: 50px 10px; }
    .portfolio__container {
      grid-template-columns: repeat(4, 1fr); }
    .portfolio__title {
      font-size: 28px; }
    .portfolio__text {
      font-size: 18px; } }

@media (min-width: 1024px) {
  .portfolio {
    border-top: 56px solid #fff;
    margin-top: -56px; }
    .portfolio__title {
      font-size: 38px; }
    .portfolio__text {
      font-size: 1.4vw; }
    .portfolio__menu-item {
      font-size: 14px; }
    .portfolio__container {
      grid-template-columns: repeat(6, 1fr); } }

.popup {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 310px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 99; }
  .popup__content-wrapper {
    position: relative;
    width: 100%;
    transition: all 0.5s;
    height: 100%; }
    .popup__content-wrapper--scale {
      transform: scale(1.2); }
  .popup__content {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .popup__content img {
      position: absolute;
      -o-object-fit: contain;
         object-fit: contain;
      height: 100%;
      transition: all 0.5s;
      transform: translateX(0) scale(1); }
    .popup__content .img--scale {
      transform: scale(1.2); }
    .popup__content .img-prev {
      transform: translateX(-150vw) scale(2); }
    .popup__content .img-next {
      transform: translateX(150vw) scale(2); }
  .popup__control {
    width: 45px;
    height: 45px;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    z-index: 129;
    padding: 10px;
    background-size: 25px;
    background-position: center;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.6); }
    .popup__control--right {
      right: 0;
      background-image: url("../img/popup-right.svg"); }
    .popup__control--left {
      left: 0;
      background-image: url("../img/popup-left.svg"); }
  .popup__counter {
    position: fixed;
    top: 13px;
    left: 13px;
    z-index: 129;
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    color: rgba(238, 238, 238, 0.9); }
  .popup__title {
    position: fixed;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    color: rgba(238, 238, 238, 0.9); }
  .popup__btn {
    position: fixed;
    top: 13px;
    right: 13px;
    width: 20px;
    height: 20px;
    z-index: 129;
    background-color: transparent;
    border: none; }
    .popup__btn::after, .popup__btn::before {
      content: "";
      position: absolute;
      top: 10px;
      left: 0;
      height: 2px;
      width: 20px;
      margin: 0 auto;
      background-color: rgba(238, 238, 238, 0.9);
      border-radius: 2px; }
    .popup__btn::before {
      transform: rotate(45deg); }
    .popup__btn::after {
      transform: rotate(-45deg); }

.solutions {
  padding: 60px 10px; }
  .solutions__title {
    font-size: 18px;
    line-height: 1.3em;
    font-weight: 700;
    color: #232020;
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase; }
    .solutions__title--red {
      color: #ef4242; }

@media (min-width: 770px) {
  .solutions__title {
    font-size: 28px; }
  .solutions__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); } }

@media (min-width: 1024px) {
  .solutions__title {
    font-size: 38px; }
  .solutions__container {
    grid-template-columns: repeat(3, 1fr); } }

.solution {
  padding: 20px;
  text-align: center; }
  .solution__title {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 5px;
    text-transform: uppercase;
    color: #232020; }
    .solution__title::before {
      display: block;
      content: "";
      width: 60px;
      height: 60px;
      background-size: 60px;
      margin: 0 auto 15px auto; }
    .solution__title--1::before {
      background-image: url("../img/icon-solution-1.svg"); }
    .solution__title--2::before {
      background-image: url("../img/icon-solution-2.svg"); }
    .solution__title--3::before {
      background-image: url("../img/icon-solution-3.svg"); }
    .solution__title--4::before {
      background-image: url("../img/icon-solution-4.svg"); }
    .solution__title--5::before {
      background-image: url("../img/icon-solution-5.svg"); }
    .solution__title--6::before {
      background-image: url("../img/icon-solution-6.svg"); }
  .solution__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.3em;
    color: #514f4f; }

@media (min-width: 1024px) {
  .solution__title {
    font-size: 18px; } }

.architect {
  background-color: #000; }
  .architect__wrapper {
    padding: 60px 10px; }
  .architect__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.3em;
    color: #fff;
    margin-bottom: 20px;
    letter-spacing: -0.4px; }
    .architect__title--red {
      color: #ef4242; }
  .architect__text {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
    color: #fff; }
    .architect__text::before {
      display: block;
      content: "";
      width: 60px;
      height: 60px;
      background-size: 60px;
      margin: 0 auto 16px auto; }
    .architect__text--1::before {
      background-image: url("../img/icon-architect-1.svg"); }
    .architect__text--2::before {
      background-image: url("../img/icon-architect-2.svg"); }
    .architect__text--3::before {
      background-image: url("../img/icon-architect-3.svg"); }
    .architect__text--4::before {
      background-image: url("../img/icon-architect-4.svg"); }
  .architect__services {
    display: grid;
    grid-gap: 20px 0px;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 25px; }
  .architect__img {
    margin-bottom: 20px; }

@media (min-width: 770px) {
  .architect {
    background-image: url("../img/architect-bg.jpg");
    background-size: 40% auto;
    background-position: center right; }
    .architect__img {
      display: none; }
    .architect__wrapper {
      margin-right: 40%; }
    .architect__title {
      font-size: 28px; }
    .architect__text {
      display: flex;
      align-items: center;
      padding: 5px 0;
      text-align: left; }
      .architect__text::before {
        min-width: 60px;
        margin-bottom: 0;
        margin-right: 10px; }
    .architect__services {
      margin-bottom: 20px; } }

@media (min-width: 1024px) {
  .architect__container {
    max-width: 1140px;
    margin: 0 auto; }
  .architect__title {
    font-size: 38px; }
  .architect__text {
    font-size: 13.3px; } }

.contacts {
  border-top: 80px solid transparent;
  margin-top: -80px;
  padding: 80px 20px; }
  .contacts__sup-title {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3em;
    color: #514F4F;
    text-align: center;
    margin-bottom: 20px; }
  .contacts__title {
    font-size: 21px;
    font-weight: 700;
    line-height: 1.3em;
    letter-spacing: 1px;
    color: #232020;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 70px; }
    .contacts__title--red {
      color: #ef4242; }
  .contacts__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6em;
    color: #514f4f;
    letter-spacing: -0.2px;
    margin-bottom: 30px; }

@media (min-width: 770px) {
  .contacts {
    border-top: 70px solid transparent;
    margin-top: -70px; }
    .contacts__sup-title {
      font-size: 24px; }
    .contacts__title {
      font-size: 24px; }
    .contacts__description {
      width: 57.94%; }
    .contacts__contact {
      width: 42.01%; }
    .contacts__container {
      display: flex;
      align-items: center; }
    .contacts__text {
      font-size: 16px;
      margin-bottom: 50px; } }

@media (min-width: 1024px) {
  .contacts {
    border-top: 56px solid transparent;
    margin-top: -56px; }
    .contacts__description {
      width: 62.94%;
      margin-right: 10px; }
    .contacts__contact {
      width: 37.01%; }
    .contacts__wrapper {
      max-width: 1140px;
      margin: 0 auto; } }

.achievments {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  margin-bottom: 40px; }
  .achievments__item {
    text-align: center; }
  .achievments__sub-title {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.3em;
    letter-spacing: 1px;
    color: #232020;
    margin-bottom: 20px; }
    .achievments__sub-title:last-child {
      margin-bottom: 0; }
  .achievments__title {
    display: inline-block;
    font-size: 45px;
    font-weight: 900;
    line-height: 1;
    color: #ef4242;
    margin-bottom: 20px; }

@media (min-width: 1024px) {
  .achievments__sub-title {
    font-size: 16px; } }

.contact {
  color: #232020;
  box-shadow: 0 22px 7px -10px rgba(35, 32, 32, 0.45);
  border: 1px solid #DDD;
  border-radius: 5px;
  padding: 20px; }
  .contact__title {
    font-size: 21px;
    font-weight: 700;
    line-height: 1.3em;
    letter-spacing: 1px;
    margin-bottom: 20px; }
  .contact__item {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 20px;
    display: block; }
    .contact__item::before {
      display: block;
      content: "";
      min-width: 30px;
      height: 30px;
      background-size: 30px 30px;
      margin-bottom: 10px; }
    .contact__item--phone {
      font-size: 18px;
      font-weight: 700;
      line-height: 1.2;
      color: #232020; }
      .contact__item--phone::before {
        background-image: url("../img/contact-phone.svg"); }
    .contact__item--time::before {
      background-image: url("../img/contact-time.svg"); }
    .contact__item--address::before {
      background-image: url("../img/contact-pin.svg"); }
    .contact__item--mail {
      color: #232020; }
      .contact__item--mail::before {
        background-image: url("../img/contact-mail.svg"); }
  .contact__text {
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 20px; }
  .contact__btn {
    min-height: 47px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    background-image: url("../img/icon-whatsApp.svg");
    background-size: 12.25px 14px;
    background-position-y: center;
    background-position-x: 25px;
    padding: 15px 30px; }

@media (min-width: 770px) {
  .contact {
    padding: 30px 40px; }
    .contact__item {
      display: flex;
      align-items: center; }
      .contact__item::before {
        margin-right: 15px; }
    .contact__btn {
      width: auto;
      padding-left: 43px; } }

.catalog {
  background-color: #000;
  padding: 70px 20px;
  color: #fff;
  text-align: center; }
  .catalog__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3em;
    color: #f7f7f7;
    margin-bottom: 20px; }
  .catalog__title {
    font-size: 21px;
    font-weight: 700;
    line-height: 1.3em;
    text-transform: uppercase;
    margin-bottom: 70px; }
  .catalog__sub-title {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3em;
    margin-bottom: 30px; }
  .catalog__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 40px; }
  .catalog__item {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
    padding: 0 10px; }
    .catalog__item::before {
      display: block;
      content: "";
      width: 60px;
      height: 60px;
      background-size: 60px;
      margin: 0 auto 15px auto; }
    .catalog__item--examples::before {
      background-image: url("../img/catalog-examples.svg"); }
    .catalog__item--advices::before {
      background-image: url("../img/catalog-advices.svg"); }
  .catalog__img-wrapper {
    margin: 0 0px -8px 0; }
  .catalog__img {
    width: 85%; }
  .catalog__callback {
    border-radius: 5px;
    padding: 20px;
    color: #232020; }

@media (min-width: 770px) {
  .catalog {
    padding: 80px 20px; }
    .catalog__text, .catalog__title {
      font-size: 24px; }
    .catalog__container {
      display: flex;
      align-items: center; }
    .catalog__description {
      width: 47%; }
    .catalog__callback {
      padding: 40px; }
    .catalog__callback-wrapper {
      width: 53%; }
    .catalog__sub-title {
      font-size: 18px;
      margin-bottom: 50px; }
    .catalog__item {
      display: flex;
      text-align: left; }
      .catalog__item::before {
        min-width: 60px;
        margin-bottom: 0;
        margin-right: 10px; }
    .catalog__list {
      margin-bottom: 90px; }
    .catalog__img-wrapper {
      margin: 0 -20px -20px 0;
      z-index: 4;
      position: relative; }
    .catalog__img {
      width: 100%; } }

@media (min-width: 1024px) {
  .catalog {
    background-image: url("../img/catalog-bg.jpg");
    background-position: top left;
    background-size: cover; }
    .catalog__text {
      font-size: 28px; }
    .catalog__wrapper {
      max-width: 1140px;
      margin: 0 auto;
      padding: 10px; }
    .catalog__title {
      font-size: 32px; }
    .catalog__sub-title {
      font-size: 24px;
      margin-bottom: 24px; }
    .catalog__item {
      font-size: 14px;
      align-items: center; }
    .catalog__description {
      width: 60%;
      padding: 10px; }
    .catalog__callback-wrapper {
      padding: 25px 10px;
      width: 40%; }
    .catalog__list {
      margin-bottom: 70px; }
    .catalog__img-wrapper {
      margin: 0 -40px -70px 0; } }

.footer {
  padding: 10px;
  padding-top: 22px;
  background-color: #232020;
  color: #fff; }
  .footer__description {
    font-family: "Open Sans";
    font-size: 14px;
    line-height: 1.3em;
    font-weight: 400;
    margin-bottom: 20px; }
  .footer__logo {
    margin-bottom: 5px; }
    .footer__logo img {
      max-width: 300px; }
  .footer__contacts {
    margin-bottom: 10px; }

@media (min-width: 770px) {
  .footer {
    padding-top: 50px;
    padding-bottom: 30px; }
    .footer__content {
      display: flex;
      flex-wrap: wrap; }
    .footer__logo {
      width: 32%;
      margin: 0;
      padding-top: 10px; }
    .footer__description {
      width: 68%;
      padding-left: 5%; }
    .footer__contacts {
      width: 50%; }
    .footer__navigation {
      width: 50%; } }

@media (min-width: 1024px) {
  .footer {
    padding-top: 60px;
    padding-bottom: 40px; }
    .footer__wrapper {
      max-width: 1140px;
      margin: 0 auto; }
    .footer__description {
      font-size: 16px; } }

.contacts-f__title {
  font-size: 16px;
  line-height: 1;
  font-weight: 700;
  font-family: "Open Sans";
  margin-bottom: 20px; }

.contacts-f__item {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  display: block;
  color: #fff;
  background-size: 21px;
  background-position: left center;
  padding-left: 36px;
  margin-bottom: 20px; }
  .contacts-f__item:last-child {
    margin-bottom: 0; }
  .contacts-f__item--phone {
    font-size: 16px;
    font-weight: 700;
    background-image: url("../img/icon-phone.svg"); }
  .contacts-f__item--mail {
    background-image: url("../img/footer-mail.svg");
    font-family: "Roboto"; }
  .contacts-f__item--time {
    background-image: url("../img/icon-clock.svg"); }

.contacts-f__telegram {
  font-size: 12px;
  font-weight: 400;
  display: inline-block;
  line-height: 1.5;
  font-family: "Roboto";
  color: #61CE70;
  padding: 8px 15px;
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 20px; }
  .contacts-f__telegram--icon {
    background-image: url("../img/footer-telegram.svg");
    background-size: 14px 16px;
    background-position-y: 1px;
    padding-left: 20px;
    margin-left: 6px; }

.modal-cb .contacts-f__telegram {
  border: 1px solid #e8e8e8;
  font-size: 14px;
  margin-bottom: 0; }
  .modal-cb .contacts-f__telegram--icon {
    background-image: url("../img/icon-whatsApp--modal.svg"); }

@media (min-width: 1024px) {
  .contacts-f__title {
    font-size: 24px; }
  .contacts-f__item--phone {
    font-size: 21px; } }

.navigation-f__title {
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 17px; }

.navigation-f__item {
  font-size: 12px;
  font-weight: 400;
  display: inline-block;
  line-height: 1.5;
  color: #fff; }
  .navigation-f__item:hover {
    color: #ef4242; }

.navigation-f__list {
  margin-bottom: 15px; }
  .navigation-f__list li {
    margin-bottom: 9px;
    display: block; }
    .navigation-f__list li:last-child {
      margin-bottom: 0; }

.copyright {
  border-top: 1px dashed #e8e8e8;
  padding-top: 20px; }
  .copyright__title {
    font-size: 12px;
    font-weight: 400;
    font-family: 'Roboto';
    line-height: 1.3em; }
  .copyright__requisites {
    display: none; }

@media (min-width: 770px) {
  .copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 35px; }
    .copyright__requisites {
      display: block;
      font-size: 10px; }
    .copyright__title {
      font-size: 10px; } }

@media (min-width: 1024px) {
  .copyright__title, .copyright__requisites {
    font-size: 12px; } }

.modal-cb {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  min-width: 310px;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 1;
  transition: all 1s; }
  .modal-cb--closed {
    opacity: 0; }
    .modal-cb--closed:not(.js-animated) {
      display: none; }
  .modal-cb__wrapper {
    position: fixed;
    top: 50%;
    min-width: 310px;
    width: 100%;
    max-width: 480px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 5px;
    padding: 30px; }
  .modal-cb__btn {
    position: fixed;
    top: 4px;
    right: 4px;
    width: 20px;
    height: 20px;
    z-index: 129;
    background-color: transparent;
    border: none; }
    .modal-cb__btn::after, .modal-cb__btn::before {
      content: "";
      position: absolute;
      top: 9px;
      left: 0;
      height: 2px;
      width: 20px;
      margin: 0 auto;
      background-color: #202020;
      border-radius: 2px; }
    .modal-cb__btn::before {
      transform: rotate(45deg); }
    .modal-cb__btn::after {
      transform: rotate(-45deg); }

.thanks {
  background-color: #000;
  width: 100vw;
  text-align: center;
  background-image: url("../img/bg-main.png");
  background-position: center right;
  background-size: cover;
  position: relative; }
  .thanks__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); }
  .thanks__wrapper {
    padding: 10px 10px 30px 10px;
    min-height: 100vh;
    position: relative;
    z-index: 2; }
  .thanks__title {
    font-family: "Open Sans";
    font-size: 28px;
    font-weight: 900;
    line-height: 1.2em;
    color: #fff;
    margin-bottom: 20px; }
    .thanks__title--mid-marg {
      margin-bottom: 50px; }
    .thanks__title--lg-marg {
      margin-bottom: 70px; }
    .thanks__title--phone {
      display: block; }
  .thanks__text {
    color: #e7e7e7;
    font-size: 28px;
    font-weight: 400;
    line-height: 1.3em;
    margin-bottom: 20px; }

@media (min-width: 770px) {
  .thanks {
    text-align: left;
    min-height: 100vh; }
    .thanks__wrapper {
      display: flex;
      align-items: center; }
    .thanks__container {
      width: 55%; }
    .thanks__title--main {
      font-size: 56px; }
    .thanks__text {
      font-size: 22px; } }

@media (min-width: 1024px) {
  .thanks__wrapper {
    max-width: 1140px;
    margin: 0 auto; }
  .thanks__title--main {
    font-size: 80px; }
  .thanks__text {
    font-size: 18px; } }

/*# sourceMappingURL=style.css.map */
