*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  background-repeat: no-repeat;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  font-style: normal;
}

ul{
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}
body {
  min-width: 310px;
}
.icon {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-size: 22px;
  background-position: center;
  border-radius: 4px;
}

html {
  scroll-behavior: smooth;
}

.hide {
  display: none;
}

section {
  min-width: 310px;
}

.visually-hidden {
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  border: none;
  position: absolute;
  clip: rect(0,0,0,0);
}
